body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

h1 {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

a {
  color: #333;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
}

form {
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="submit"] {
  padding: 12px 20px;
  background-color: grey;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

input[type="Submit"]:hover {
  background-color: grey;
  color: white;
}

.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

/* Efek Hover */
a:hover {
  text-decoration: underline;
}

button:hover,
input[type="submit"]:hover {
  background-color: grey;
  color: white;
}

{
  
  h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  table {
    font-size: 14px;
  }

  th, td {
    padding: 10px;
  }
}
  